<div class="header-container">
  <div class="header-logo">
    <!-- <img src="assets/logo.png" alt="App Logo" class="logo"> --> 
    <span class="app-name">CLEARGATE</span>
  </div>
  
  <nav class="navigation">
    <ul class="nav-items">
      <ng-container *ngFor="let item of navItems">
        <img src="/assets/images/logo-blanc-sans-texte.png" class="logo">
      </ng-container>
    </ul>
  </nav>
  
  <div class="user-actions">
    <button class="logout-btn" (click)="logout()">
      <i class="logout-icon"></i>
      <span>Logout</span>
    </button>
  </div>
</div>