<div class="all-change-password">
    <div class="container rbto-rg">
        <h1 class="rbto-b">Change Password</h1>
        <p>Please enter and confirm your new password.</p>
        <form [formGroup]="changePassForm">
            <input type="password" placeholder="New password" class="input-field" formControlName="changePass">
            <span class="error" *ngIf="changePassForm.get('password')?.errors?.['required']">Please choose a password</span>
            <input type="password" placeholder="Confirm password" class="input-field" formControlName="confirmPass">
            <span class="error" *ngIf="changePassForm.errors?.['passwordMismatch']">Passwords do not match</span>
            <span class="error" *ngIf="changePassForm.get('changePass')?.errors?.['strong']">Password must contain at least one number, one lowercase letter, and one special character</span>
            <button type="submit" class="btn" (click)="changePassword()">Change Password</button>
            <p class="message">{{message}}</p>
        </form>
    </div>
</div>