<div class="all-forgot">
    <div class="container rbto-rg">
        <h1 class="rbto-b">Forgot Password</h1>
        <p>Please enter your email address. We will send you a link to reset your password.</p>
        <form #forgotPasswordpForm="ngForm">
            <input placeholder="Enter your email" class="input-field" type="email" name="username" [(ngModel)]="username" required email #usernameRef="ngModel">
            <button type="submit" class="btn" (click)="forgotPassword()">Send Link</button>
            <p class="message">{{message}}</p>
            <p class="error" *ngIf="usernameRef.errors?.['required'] && usernameRef.touched">Please enter an email</p>
            <p class="error" *ngIf="usernameRef.errors?.['email'] && usernameRef.touched">Invalid email</p>
        </form>
    </div>
</div>