<!-- src/app/components/crypto-chart/crypto-chart.component.html -->
<div class="crypto-chart-wrapper">

  <div class="chart-container">
    <div class="chart-loading-overlay" *ngIf="isLoading">
      <div class="loading-spinner"></div>
      <span>Loading data...</span>
    </div>
    
    <apx-chart
      #chart
      [series]="chartOptions.series!"
      [chart]="chartOptions.chart!"
      [xaxis]="chartOptions.xaxis!"
      [yaxis]="chartOptions.yaxis!"
      [tooltip]="chartOptions.tooltip!"
      [theme]="chartOptions.theme!"
      [fill]="chartOptions.fill!"
      [stroke]="chartOptions.stroke!"
      [markers]="chartOptions.markers!"
      [grid]="chartOptions.grid!"
      [title]="chartOptions.title!"
    ></apx-chart>
  </div>
</div>